<a href="/project/<%= project._id %>">
    <div class="project-list-item flex col">
        <div class="flex valign space-between">
            <div class="project-heading">
                <%= project.name %>
            </div>
            <div class="project-status">
                <%= project.status %>
            </div>
        </div>
        <div class="project-detail" style="margin-top: 10px;">
            <%= project.description %>
        </div>
        <div class="flex valign space-between" style="margin-top: 20px;">
            <div class="project-author">
                <%= project.author %>
            </div>
            <div class="project-date">
                <%= project.createdAt.toLocaleString() %>
            </div>
        </div>
    </div>
</a>