<link rel="stylesheet" href="/css/project_detail.css">


<section class="project-header">
    <div class="container flex col space-between">
        <div class="back" style="margin-top: 20px; font-size: 14px;">
            <a href="/">
                <i class="fas fa-arrow-left"></i>
                <span style="margin-left: 5px;">Back</span>
            </a>
        </div>
        <div style="margin-top: 20px;">
            <h1 class="project-name">
                <%= project.name %>
            </h1>
            <div class="project-description" style="margin-top: 10px;">
                <%= project.description %>
            </div>
        </div>

        <div style="margin-top: 50px;">
            <a href="/project/<%= project.id %>/create-issue" class="btn">Create Issue</a>
            <a href="/close-project/<%= project.id %>" class="btn btn-danger">Close Project</a>
        </div>
    </div>
</section>

<section class="issue-section" style="margin-top: 30px;">
    <div class="container flex">
        <div class="sidebar"></div>
        <div style="flex: 1;">
            <div>
                <div class="flex space-between valign" style="padding-bottom: 15px;">
                    <h1>Issues</h1>
                    <div class="flex valign" style="font-size: 12px;">
                        <label for="sort_by">Sort By:</label>
                        <form action="/sort-by" method="post">
                            <select name="sort_by" id="sort_by" style="margin-left: 6px;">
                                <option value="0" style="font-size: 12px;">Latest</option>
                                <option value="1" style="font-size: 12px;">Oldest</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="issues-container">
                    <% for (issue of issues) { %>
                        <%- include('_issue') %>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</section>